.jumbotron{
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  text-align: right;
}
.navbar{
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  z-index: 100; /* <-- Added */ */
}

.navbar-default{
background-color:rgba(0, 0, 0, 0.8);
}

.navbar a{
  color: White;
  font-size: 20px;
  }
