.jumbotron{
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  text-align: right;
}
.navbar{
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  z-index: 100; /* <-- Added */ */
}

.navbar-default{
background-color:rgba(0, 0, 0, 0.8);
}

.navbar a{
  color: White;
  font-size: 20px;
  }

  .row{
    margin:1%;
  }


  div.gallery {
      border: 1px solid #ccc;
  }

  div.gallery:hover {
      border: 1px solid #777;
  }

  div.gallery img {
      width: 100%;
      height: auto;
  }

  div.desc {
      padding: 15px;
      text-align: center;
  }

  * {
      box-sizing: border-box;
  }

  .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
  }
  .caption{
    display: inline-block;
  }

  .footer{
    height:auto ;
    background-color:black;
    font-size:15px;
    color: white;
  }

  @media only screen and (max-width: 700px) {
      .responsive {
          width: 49.99999%;
          margin: 6px 0;
      }
  }

  @media only screen and (max-width: 500px) {
      .responsive {
          width: 100%;
      }
  }

  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }
