.jumbotron{
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  text-align: right;
}
.navbar{
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  z-index: 100; /* <-- Added */ */
  opacity: 0.5;

}
.navbar-default{
background-color:rgba(0, 0, 0, 0.5);
}
.navbar a{
  color: White;
  }

.speedmode{
  height: 700px;
  background-color: red;
}
.speedmode p{
  font-size: 20px;
}
