.parallax{
  /* The image used */
  /* background-image: url("../images/logo.png"); */
  background-size: auto;
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

article{
  padding: 10px;
}

body{
  background-color: black;
}
.navbar{
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  z-index: 100; /* <-- Added */ */
}

.navbar-default{
background-color:rgba(0, 0, 0, 0.8);
}

.navbar a{
  color: White;
  font-size: 20px;
  }

.main-con{
margin-top: : -50px;
height: 700px;
background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 1));
font-size: 25px;
color: white;
}

.footer{
  height:auto ;
  background-color:black;
  font-size:15px;
  color: white;
}

.panel-body h3, .panel-body p{
  color: black;
}
@media only screen and (max-width: 768px) {
    .parallax {
        background-image: none;
        background-color: red;
    }
  }
